.conatiner {
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 200px;
    color: #111111;
    background-color: #11324D;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

input {
    height: 50px;
    border-radius: 15px;
}

.formfield {
    display: table;
    width: 100%;
    padding-bottom: 25px;
}

.formfield label,
.formfield .input-wrapper {
    display: table-cell;
    vertical-align: top;
    font-size: 24px !important;
    color: #ffff;
}

.formfield label {
    width: 100px;
    font-size: 20px;
}

.formfield .input-wrapper .table-form {
    width: 100%;
}

.select {
    width: 50%;
    height: 50px;
    border-radius: 15px;
}

.btn {
    margin-top: 15px;
    text-align: center;
    color: yellow !important;
}

.btn input {
    width: 100%;
    background-color: transparent;
    border: 2px solid yellow;
}

.product-list-container {
    border-top: 1px solid rgb(237, 151, 13);
    margin-top: 20px;
  
}
.bigTiti{
    color: antiquewhite;
}
.button-section div {
    font-size: 30px;
}


/*button**/

.addCategory {
    opacity: 0.5;
}

.active {
    opacity: 1;
}


/* 
.form input {
    height: 50px;
    border-radius: 15px;
}

.option {
    height: 50px !important;
    line-height: 50px;
    border-radius: 15px !important;
}

.btn-item {
    width: 100% !important;
    text-align: center;
}

.btn {
    width: 100px;
    height: 50px !important;
    border-radius: 15px !important;
    background-color: darkgoldenrod !important;
    margin: auto !important;
}

.select {
    height: 50px !important;
    border-radius: 15px !important;
} */