.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
}

.ifo span {
    margin-right: 15px;
    color: #293462;
}

.quantity {
    color: #EC9B3B;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #EC9B3B;
}

.time {
    color: #293462;
}

.category {
    color: #F7D716;
    padding: 8px;
    border-radius: 15px;
    border: 2px solid #F7D716;
}

.delete {
    padding: 8px;
    border-radius: 15px;
    border: 2px solid rgb(207, 25, 25);
    color: rgb(71, 26, 234);
}

.time {
    display: flex;
}