.App {
    padding-top: 100px;
    color: #191917;
    height: 100vh;
    overflow: scroll;
}

input {
    font-size: 20px !important;
}

select {
    font-size: 20px !important;
    color: #191917 !important;
}

textarea {
    font-size: 15px !important;
}