.App {
    padding-top: 100px;
    color: #0c0c0c;
    height: 100vh;
    overflow: scroll;
}

input {
    font-size: 20px !important;
}

select {
    font-size: 20px !important;
    color: #121211 !important;
}

textarea {
    font-size: 15px !important;
}
input::placeholder{
    color: #0c0c0c !important;
}